<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackComposePlayground"
        tools:targetApi="31">
        <activity
            android:name=".sideeffects.ProducedStateActivity"
            android:exported="false" />
        <activity
            android:name=".sideeffects.DerivedStateActivity"
            android:exported="false" />
        <activity
            android:name=".sideeffects.RememberUpdatedStateActivity"
            android:exported="false" />
        <activity
            android:name=".sideeffects.SideEffectActivity"
            android:exported="false" />
        <activity
            android:name=".sideeffects.DisposableEffectActivity"
            android:exported="false" />
        <activity
            android:name=".sideeffects.RememberCoroutineScopeActivity"
            android:exported="false" />
        <activity
            android:name=".sideeffects.LaunchedEffectActivity"
            android:exported="false" />
        <activity
            android:name=".sideeffects.WhatAreSideEffectActivity"
            android:exported="false" />
        <activity
            android:name=".sideeffects.SideEffectSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".others.DeclarativeActivity"
            android:exported="false" />
        <activity
            android:name=".others.ImperativeActivity"
            android:exported="false" />
        <activity
            android:name=".intro.RecompositionActivity"
            android:exported="false" />
        <activity
            android:name=".intro.StateExampleActivity"
            android:exported="false" />
        <activity
            android:name=".intro.BasicComposeExampleActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.JetpackComposePlayground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>